.zypx-message-box__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.zypx-message-box {
  display: inline-block;
  width: 420px;
  padding-bottom: 10px;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ebeef5;
  font-size: 18px;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  text-align: left;
  overflow: hidden;
  backface-visibility: hidden;
}

.zypx-message-box__header {
  position: relative;
  padding: 15px 15px 10px;
}
.zypx-message-box__title {
  padding-left: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1;
  color: #303133;
}
.zypx-message-box__headerbtn {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  color: #aaa;
  font-weight: bold;
}
.zypx-message-box__headerbtn:hover {
  color: #409eff;
}
.zypx-message-box__content {
  padding: 10px 15px;
  color: #606266;
  font-size: 14px;
}
.zypx-message-box__btns {
  padding: 5px 15px 0;
  text-align: right;
}

.zypx-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 3px;
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}

.zypx-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}
.zypx-input__inner {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
}
.zypx-input__inner:hover {
  border: 1px solid #409eff;
}

.zypx-alert {
  width: 100%;
  padding: 8px 16px;
  margin: 0 0 15px;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  background-color: #e6a23c;
  color: #fff;
  overflow: hidden;
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity .2s;
  font-size: 12px;
}
.zypx-tip-box {
  height: 24px;
  line-height: 24px;
  color: red;
  font-size: 12px;
}
.zypx-tip-box__text {
  visibility: hidden;
}